.conteiner{
	width: 960px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: black;
	font-size: 44px; 
	line-height: 50px;

}

h1 a:hover{
	text-decoration: underline;
}

.fila{
	display: block;
	width: 100%;
}

.fila::after{
	clear: both;
}

*[class*="columna"]{ /*Contiene la palabra "columna" */
	float:left;
}

.columna10{
	width: 10%;
}

.columna33{
	width: 33%;
}

.columna66{
	width: 66%;
}

.columna90{
	width: 90%;
}

.columna100{
	width: 100%;
}

*[class*="columna"] > img{
	max-width: 100%;
}
