body{
	background-image: url("../Imagenes/fondo.jpg");
	background-size: contain;
}

.container{
	background-color: rgba(235, 235, 224, 0.7);
}

.hero{
	border: 1px solid #E6E6E6;
}

.fila1{
	padding: 50px 20px 20px 20px;
	border-bottom: 1px solid #E6E6E6;
}

.fila2{
	padding: 20px 20px 30px 20px;
	border-bottom: 1px solid #E6E6E6;
}

.img-responsive {
	width: 100%;
	margin-bottom: 20px;
}

.hero .ask{
	padding: 50px;
	border-left: 1px solid #E6E6E6;
}

.askback{
	background-color: white;
	margin-bottom: 30px;
	padding: 20px;
	border-bottom: 1px solid #E6E6E6;
}

.askback h5{
	margin-bottom: 15px;
}

h4{
	font-size: 2em;
}

.fila2 h5{
	margin-bottom: 20px;
	font-size: 0.8em;
}

textarea {
    resize: none;
    outline: none;
    border-color: #E6E6E6;
    border-radius: 3px;
    width: 100%;
}