.menu{
		/*background-color: #A4A4A4; */
		background-image: url("../Imagenes/menu/Fondo.jpg");
		background-position: -300px 0;
		opacity: 0.6;
		height: 130px;
		padding-right: 30px;
}

.menu .logo{
		float: left;
		width: 200px;
		margin: 45px 60px;
}

.logo img{
	width: 200px;
}

.menu li {
	font-family: 'Verdana';
	list-style: none;
	text-decoration: none;
	float: right;
    margin: 55px 20px;
}

li a{   
	color: white;
 	text-decoration: none;   
}   

li a:hover {
    color: orange;
    transition: 0.5s;
}

