<h1 >HI THERE!  </h1>      
<div class="row">
    <div class="col-md-12">
                <div class="row">
				    <div class="col-md-8">
				      	    <div class="row">
				      	              <div class="col-md-12">
				      	              <p>%summary%</p>
				      	              </div>
			       
				      	    </div>
				      	    <div class="row">
				      	              <div class="col-md-12">
				      	              <p>TemPlaza, the website built and improved by Sunland., Jsc. We supply templates and other qualified applications on Joomla and WordPress. Our head quarter is located in Hanoi, the  capital of Vietnam and which was recently voted as one of the most peaceful destinations of Asia for residence and business as well.</p>
				      	              </div>
				      	    </div>
				    </div>
				    <div class="col-md-4 foto">
				      		<div class="row">
				      		   

				      			<div class="col-md-12 pad-img">
							    	  	<img src="%photo%" class="img-responsive">
				      			</div>
				      			

				      		</div>
				    </div>
			 </div>
	   </div>
</div>
<div class="row">
        <div class="col-md-12">
	      		<p>Our mission is to supply templates and applications. The company is formed of most skilled staff, with a variety of experience in information technology and communication section in general, and working with Joomla and Wordpress in particular. With the strong desire to bring improvement to customer business, we are thriving to supply the best products, services, and support to our customers.</p>
	    </div>		
</div>
<div class="row">
	    <div class="col-md-12">
	      		<p>Current products on TemPlaza is updated to be most useful for users. Moreover, templates and applications can be downloaded free so that you can build your own website with no additional fee. However, joining us as Club Member will definitely entitle customer to utilize all resources and receive support from our staff, by HelpDesk, Forum, Ticket or Email. By all means, supporting service is what we mean to bring our expertise to serve our customers the best.</p>
	    </div>		
</div>
<div class="row">
      <div class="col-md-12">
      			<p>All in all, TemPlaza brings the opportunity to employ all of our applications to archive the dream without any fee. Become the leader in your business and build websites with us. So do not waste your time, simplify work and join us as Member now!</p>
      </div>	
</div>
 	
     


 