.menu{
		

		/*background-image: url("../Imagenes/menu/Fondo.jpg");
		background-position: -300px 0;*/
		margin: 0;
		padding-right: 30px;
		clear:both;
}

.menu .logo{
		float: left;
		width: 200px;
		margin: 45px 60px;
}

.logo img{
	width: 200px;
}

.menu li {
	font-family: 'Verdana';
	list-style: none;
	text-decoration: none;
	float: right;
    margin: 55px 0px;
    width: 10%;
}

li a{   
	color: white;
 	text-decoration: none;   
}   

li a:hover {
    color: orange;
    transition: 0.5s;
}

