<div class="col-md-12 education">
	<h1>Education</h1>
	<input class="form-control" type="text" id="educationTitle" placeholder="Title"></input>
	<div class="row">
		<div class="col-md-12">
			<label for="education"></label>
			<textarea class="form-control" rows="10" id="educationText" placeholder="Text education"></textarea>
			<button type="submit" class="btn btn-primary glyphicon glyphicon-pencil"></button>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-12">
			<input class="form-control" type="text" id="newEducationTitle" placeholder="Title"></input>
			<textarea class="form-control" rows="5" id="newEducationText" placeholder="Aquí va lo que quieras editar"></textarea>
			<button type= "submit" class="btn btn-danger">Save Change</button>
		</div>
	</div>
</div>


