<tr class="pure-table-odd">
  <td>
    <div class="row">
      <div class="col-xs-12">
        <img class="img-responsive" src="%photo%">
      </div>
    </div>
  </td>
  <td> %id%</td>
  <td> %firstname%</td>
  <td> %lastname%</td>
  <td> %gender%</td>
  <td> %address%</td>
  <td> %birthday%</td>
  <td> %email%</td>
  <td> %password%</td>
  <td>
    <span class="input-group-btn">
      <button class="btn viewUserButton" type="button" 
        data-id="%id%">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      </button>
    </span>
  </td>
  <td> <span class="input-group-btn">
          <button class="btn editUserButton" type="button"
          data-id="%id%"
          data-firstName="%firstname%"
          data-lastName="%lastname%"
          data-gender="%gender%"
          data-address="%address%"
          data-birthday="%birthday%"
          data-email="%email%"
          data-password="%password%">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
      </span>
  </td>
</tr>
