<div class="col-sm-12 col-xs-12">	
	<div class="row">
		<div class="col-sm-10 col-xs-10">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<h4>Fill the Form</h4>
				</div>
			</div>
			<form class="form-horizontal" id="formulario">
				<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label" for="nombre">Name</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" id="nombre" placeholder="Name"></input>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label" for="apellido">Last Name</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" id="apellido" placeholder="Last Name"></input>
					</div>
				</div>
				<div class="form-group form-group-sm radios">
					<label for="sexo" class="col-sm-2 col-xs-2 control-label">Sex </label>
					<div class="col-sm-10">
						<label class="radio-inline" for="female"><input type="radio" id="sexoF" class="sexo" name="sexo" value="F">Femenino</label>
                    	<label class="radio-inline" for="male"><input type="radio" id="sexoM" class="sexo" name="sexo" value="M">Masculino</label>
					</div>
				</div>
				
				<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label" for="edad">Birthdate</label>
					<div class="col-sm-10">
						<input class="form-control" type="date" id="edad" ></input>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label for="direcc" class="col-sm-2 col-xs-2 control-label">Address </label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="optionsRadios" id="direcc" placeholder="Address"></input>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label for="foto" class="col-sm-2 col-xs-2 control-label">Photo </label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="optionsRadios" id="foto" placeholder="Photo"></input>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label" for="email">Email </label>
					<div class="col-sm-10">
						<input class="form-control" type="text" placeholder="Insert your Email" aria-describedby="email" id="email">
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label for="contra" class="col-sm-2 col-xs-2 control-label">Password </label>
					<div class="col-sm-10">
						<input class="form-control" type="Password" name="optionsRadios" id="contra" placeholder="Password"></input>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label for="contra2" class="col-sm-2 col-xs-2 control-label">Confirm Password </label>
					<div class="col-sm-10">
						<input class="form-control" type="Password" name="optionsRadios" id="contra2" placeholder="Password"></input>
					</div>
				</div>
				<div class="form-group form-group-sm has-feedback">
					<div style="text-align: right;"  class="col-sm-7">
						<label for="continue" class="col-sm-2 col-xs-2 control-label"></label>
					<button id="continue" type="button" class="btn">Continue</button>
					</div>
					<div class="col-sm-5">
						<button type="button" class="btn" id="back">Back</button>
					</div>
				</div>
			</form>
		</div>
	</div>			
</div>
	
