<div class="row">
	<div class="col-sm-12 imagen">
		<img src="%photo%" /><!--%photo-->
	</div>
</div>

<div class="row">
	<div class="col-sm-12 box1">
		<h1>%firstname% %lastname%</h1><!-- %firstName% %lastName%-->

		<span> </span><!--%education%-->
	</div>
</div>

<div class="row">
	<div class="col-sm-12 box2">
		<ul>
			<li>
				<div class="row">
					<div class="col-sm-2">
						<i class="glyphicon glyphicon-envelope"></i>
					</div>
					<div class="col-sm-10">
						<span>%email%</span><!--%email%-->
					</div>
				</div>
			</li>

			<li>
				<div class="row">
					<div class="col-sm-2">
						<i class="glyphicon glyphicon-calendar"></i>
					</div>
					<div class="col-sm-10">
						<span>%birthday%</span><!--%birthday%-->
					</div>
				</div>
			</li>

			<li>
				<div class="row">
					<div class="col-sm-2">
						<i class="glyphicon glyphicon-asterisk"></i>
					</div>
					<div class="col-sm-10">
						<span>%gender%</span><!--%gender%-->
					</div>
				</div>								
			</li>

			<li>
				<div class="row">
					<div class="col-sm-2">
						<i class="glyphicon glyphicon-map-marker"></i>
					</div>
					<div class="col-sm-10">
						<span>%address%</span><!--%address%-->
					</div>
				</div>											
			</li>
		</ul>		
	</div>
</div>

<div class="row">
	<div class="col-sm-12 edit">
		<button class="form-control btn-default" id="editButton" data-id="%id%" type="button">Edit User</button>
	</div>
</div>